/***********************
 GENERAL
************************/
/* Body Colors */
body {
  background-color: #FFF;
  color: #999;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color: #599a68;
}

img {
  max-width: 100%;
}

#logo {
  text-align: center;
}

#wrapper {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 5%;
}



/***********************
 HEADER
************************/

/* Header Colors */
header{
  background-color: #6ab47b;
  float: left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
}

h1, h2 {
  color: #FFF;
}

h1 {
  font-family: 'Changa One', sans-serif;
  margin: 15px 0px;
  font-size: 1.75em;
  font-weight: normal;
  line-height: 0.8em;
}

h2 {
  font-size: 0.75em;
  margin: -5px 0 0;
  font-weight: normal;
}

h3 {
  margin: 0 0 1em 0;
}



/***********************
 NAVIGATION
************************/

/* Nav Background Colors */
nav{
  background: #599a68;
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
}

/* Nav Color Default */
nav a, nav a:visited {
  color: #FFF;
}

/* Nav Selected Color */
nav a.selected, nav a:hover {
  color: #32673F;
}

nav ul {
  list-style: none;
  margin: 0px 10px;
  padding: 0px;
}

nav li{
  display: inline-block;
}

nav a {
  font-weight: 800;
  padding: 15px 10px;
}
/***********************
 FOOTER
************************/
footer {
  clear: both;
  font-size: 0.75em;
  text-align: center;
  padding-top: 50px;
  color: #CCC;
}

.social-icon {
  width: 20px;
  height: 20px;
  margin: 0px 5px;
  display: inline-block;
}


/***********************
 GALLERY
************************/
#gallery {
  margin: 0;
  padding: 0;
  list-style: none;
}

#gallery li {
  float: left;
  width: 45%;
  margin: 2.5%;
  background-color: #F5F5F5;
  color: #bdc3c7;
}

#gallery li a p {
  margin: 0px;
  padding: 5%;
  font-size: 0.75em;
  color: #bdc3c7;
}


/***********************
 PAGE: ABOUT
************************/
.profile-photo {
  max-width: 150px;
  display: block;
  margin: 0 auto;
  border-radius: 100%;
}

/***********************
 PAGE: CONTACT
************************/
.contact-info {
  list-style: none;
  padding: 0px;
  margin: 0px;
  font-size: 0.9em;
}

.contact-info a {
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
}

.contact-info li.phone a {
    background-image: url(../images/phone.png);
}

.contact-info li.mail a {
    background-image: url(../images/mail.png);
}

.contact-info li.twitter a {
    background-image: url(../images/twitter.png);
}
