@media screen and (min-width: 480px) {
  #primary {
    width: 50%;
    float: left;
  }
  #secondary {
    width: 40%;
    float: right;
  }

  .profile-photo {
    float: left;
    margin-right: 5%;
    margin-bottom: 80px;
  }
}

@media screen and (min-width: 660px) {
  /*
  3 X 5% = 15%;
  100% - 15% = 85;
  85 / 3 = 28.3333%;
  */

  #gallery li {
    width: 28.3333%;
  }

  #gallery li:nth-child(4n) {
    clear: left;
  }

  nav {
    background: none;
    float: right;
    font-size: 1.125em;
    width: 45%;
  }

  #logo {
    float: left;
    margin-left: 5%;
    width: 45%;
    text-align: left;
  }

  h1{
    font-size: 2.5em;
  }

  h2 {
    font-size: 0.852em;
    margin-bottom: 20px;
  }

  header {
    border-bottom: 5px solid #599a68;
    margin-bottom: 50px;
  }
}
